@tailwind base;
@tailwind components;
@tailwind utilities;
[x-cloak] {
    display: none;
}
@layer components {
}
.btn {
    @apply bg-gray-100 hover:bg-gray-800 hover:text-gray-200 shadow;
    padding: 15px;
    border-radius: 5px;
}
